{% extends "base.html" %}

<!-- import bootstrap -->
{% import "bootstrap/wtf.html" as wtf %}



<!-- title -->
{% block title %}Linear regression{% endblock %}


<!-- Page Header-->
{% block pageheader %}
    <header class="masthead" style="background-image: url('../static/assets/img/post-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>Linear Regression Model</h1>
                        <h2 class="subheading">Making prediction with linear regression model.</h2>
                        <span class="meta">
                            Posted by
                            <a href="#!">Kien Bui</a>
                            on August 24, 2023
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

<!-- Main Content-->
{% block maincontent %}
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                  {{ wtf.quick_form(form) }}
                    
                  {% if pred %}
                    Predict from linear regression p = {{ pred | round(2) }}
                  {% endif %}
                </div>
            </div>
        </div>
    </article>
{% endblock %}

